<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thispc.mobilequiz">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/down2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Twodevices" android:label="Discover Server"/>
        <activity android:name=".Server" android:label="Leader Board"/>
        <activity
            android:name=".Questions"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Cleint" android:label="Discover Server" />
        <activity android:name=".SelectQuestions" android:label="@string/app_name" />
        <activity
            android:name=".QuestionList"
            android:label="@string/title_activity_question_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CategoryForServer" android:label="Select Category" />
        <activity android:name=".TwodeviceServer" android:label="Discover Clients"/>
        <activity android:name=".ViewQuestion" android:label="Question"></activity>
    </application>

</manifest>
